.body {
  position: relative;
  z-index: 10;
  display: block;
  width: 100%;
  min-width: 320px;
  margin: 0;
  padding: 0;
  color: #000000;
  background-color: #ffffff;
  text-size-adjust: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  &--black {
    background-color: #000;
  }
}
