.calendar-event {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 88px;
  padding: 12px 0;
  font-size: 16px;
  //border: 3px solid #000;
  border-bottom: 2px solid #000;
  box-sizing: border-box;

  &:last-child {
    border-bottom: none
  }

   &--header {
     align-items: flex-end;
     min-height: auto;
     padding: 0 0 12px;
     border-bottom: 2px solid #d9d9d9;

     .calendar-event__slot,
     .calendar-event__place,
     .calendar-event__distance,
     .calendar-event__title,
     .calendar-event__date {
       font-family: 'Source Sans Pro', sans-serif !important;
       font-size: 16px !important;
       font-weight: 300 !important;
     }
   }
}

.calendar-event__type {
  position: absolute;
  top: 0;
  left: -2px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 28px;
  opacity: 0.1;
}

.calendar-event__date {
  flex-shrink: 0;
  width: 20%;
  display: block;
  font-size: 16px;
}

.calendar-event__title {
  flex-shrink: 0;
  width: 35%;
  margin: 0;
  padding-right: 12px;
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;

  a {
    color: #000;
    text-decoration: none;
    border-bottom: 1px dotted #000;
  }

  span {
    display: block;
    padding-top: 6px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: 300;
  }
}

.calendar-event__distance {
  flex-shrink: 0;
  width: 15%;
  font-size: 16px;
  font-weight: 300;
  text-align: left;

  span {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
  }
}

.calendar-event__place {
  flex-shrink: 0;
  width: 20%;
  padding: 0 12px;
  box-sizing: border-box;
  font-size: 16px;
}


.calendar-event__slot {
  flex-shrink: 0;
  width: 10%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  text-align: center;
}
