.header {
  padding: 0 0 16px;
  margin-bottom: 42px;
  background-color: #ffffff;

  &--black {
    background-color: #000;

    .header__heading,
    .header__caption {
      color: #ffffff;
    }
  }

  @media (min-width: 1919px) {
    margin-bottom: 47px;
  }
}

.header__wrapper {
  position: relative;
  //height: 48px;

  //@media (min-width: 1919px) {
  //  height: 56px;
  //}
}

.header__heading {
  //position: absolute;
  //top: 0;
  //left: 60px;
  margin: 0;
  flex-shrink: 0;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 72px;
  line-height: 1;
  color: #000;
  //text-transform: uppercase;

  @media (min-width: 1919px) {
    font-size: 84px;
  }
}

.header__caption {
  position: absolute;
  bottom: 0;
  right: 64px;
  display: block;
  margin: 0;
  font-weight: 300;
  font-size: 20px;
  color: #000;

  @media (min-width: 1919px) {
    left: 200px;
  }
}
