.header {
  //padding: 16px 0;
  //background-color: $color-green-light;
  background-color: #FFFFFF;
  //height: 48px;
  //background-color: #000000;

  //@media (min-width: 1919px) {
  //  padding: 16px 0;
  //}
}

.header__wrapper {
  position: relative;

}

.header__heading {
  position: relative;
  left: -4px;
  margin: 0;
  flex-shrink: 0;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 72px;
  line-height: 0.63;
  //color: $color-green;
  color: #000;
  text-transform: uppercase;

  @media (min-width: 1919px) {
    font-size: 84px;
    //line-height: 0.68;
  }
}

.header__caption {
  position: absolute;
  bottom: 0;
  right: 64px;
  display: block;
  margin: 0;
  font-weight: 300;
  font-size: 20px;
  color: #000;
}
