.indicators {
  position: absolute;
  top: 12px;
  right: 0;
  list-style-type: none;
  margin: 0;
  padding: 30px;
  background-color: $color-grey;
  text-align: right;
}

.indicators__item {
  span {
    display: inline-block;
    vertical-align: middle;
    width: 80px;
  }
}
