.main-nav {
  position: absolute;
  top: 48px;
  left: 0;
  display: block;
  width: 100%;
  background-color: #000;

  &--fixed {
    position: fixed;
    top: 0;
    z-index: 1000;
  }

  @media (min-width: 1919px) {
    top: 52px;

    &--fixed {
      top: 0;
    }
  }
}

.main-nav__list {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.main-nav__item {
  margin-right: 28px;

  &:last-child {
    margin-right: 0;
  }
}

.main-nav__link {
  display: block;
  padding: 12px 0;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;

  @media (min-width: 1919px) {
    font-size: 20px;
  }
}
