.starts {

}

.starts__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: right;
}

.starts__item {
  position: relative;
  margin-bottom: 24px;

  &:last-child {
    margin-bottom: 0;
  }
}

.starts__header {
  font-size: 14px;
}

.starts__date {
  position: absolute;
  top: -12px;
  left: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 40px;
  opacity: 0.14;
}

.starts__place {
  font-weight: 300;
}

.starts__link {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: #000;
  border-bottom: 1px dotted #000;
}

.starts__organizer {
  display: block;
  padding-top: 4px;
  font-size: 16px;
  font-weight: 300;
}

.starts__event-distance {
  padding-top: 4px;
  font-size: 16px;
  font-weight: 300;

  span {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
  }
}
