.track {

}

.track__list {
  position: relative;
  list-style-type: none;
  margin: 0;
  padding: 0;
  //border-top: 4px solid #cbcbcb;
  //border-bottom: 4px solid #000;

  //&::before {
  //  content: "";
  //  position: absolute;
  //  top: -4px;
  //  left: 0;
  //  z-index: 1;
  //  display: block;
  //  width: 100%;
  //  height: 8px;
  //  background-color: #f1f1f1;
  //  //background-image: linear-gradient(to right, #fff, #cbcbcb 40%, #fff);
  //}
  //
  //&::after {
  //  content: "";
  //  position: absolute;
  //  bottom: -4px;
  //  left: 0;
  //  z-index: 1;
  //  display: block;
  //  width: 100%;
  //  height: 8px;
  //  background-color: #f1f1f1;
  //  //background-image: linear-gradient(to right, #fff, #cbcbcb 40%, #fff);
  //}
}

.track__item {
  position: relative;
  display: flex;
  align-items: center;
  height: 120px;
  //padding-left: 124px;
  //border-top: 4px solid #cbcbcb;
  //border-bottom: 4px solid #cbcbcb;
  //overflow: hidden;
  //background-color: #f1f1f1;

  &:first-child {
    &::before {
      display: none;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: -4px;
    left: 0;
    z-index: 1;
    display: block;
    width: 100%;
    height: 8px;
    background-color: #f1f1f1;
    //background-image: linear-gradient(to right, #fff, #cbcbcb 40%, #fff);
  }

  @media (min-width: 1023px) {
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 376px;
      display: block;
      width: 8px;
      height: 100%;
      background-color: #f1f1f1;
    }
  }

  @media (min-width: 1439px) {
    height: 112px;
  }


  &--active {
    //border-top: 4px solid #000;
    //border-bottom: 4px solid #000;
    background-color: #fff;


    &::after {
      background-color: #f1f1f1;
    }


    &::before {
      background-color: #f1f1f1;
      //background-image: linear-gradient(to right, #fff, #000 40%, #fff);
    }

    //
    //&::after {
    //  content: "";
    //  position: absolute;
    //  top: -8px;
    //  left: 104px;
    //  z-index: 1;
    //  display: block;
    //  width: 8px;
    //  height: calc(100% + 16px);
    //  background-color: #000;
    //}
    //

    .goal__title {
      color: #000;
    }

    .goal__number {
      color: #000;

      &::before {
        background-color: #000;
      }
    }

    .goal__description {
      color: #000;
    }
  }
}

//.track__number {
//  position: absolute;
//  top: calc(50% - 30px);
//  left: 32px;
//  display: block;
//  width: 48px;
//  height: 60px;
//  font-family: 'Montserrat', sans-serif;
//  font-size: 60px;
//  font-weight: 900;
//  line-height: 1;
//  text-align: center;
//  color: #cbcbcb;
//  transform: rotate(90deg);
//
//  &::before {
//    content: "";
//    position: absolute;
//    bottom: -4px;
//    left: 0;
//    display: block;
//    width: 100%;
//    height: 4px;
//    background-color: #cbcbcb;
//  }
//}
