.wrapper {
  padding: 0 16px;
  box-sizing: border-box;

  @media (min-width: 374px) {
    padding: 0 24px;
  }

  &--two-cols {
    @media (min-width: 1023px) {
      display: flex;
      padding-top: 52px;
      padding-bottom: 52px;
    }
  }

  @media (min-width: 767px) {
    padding: 0 32px;

    &--two-cols {

      padding-top: 52px;
      padding-bottom: 52px;
    }
  }

  @media (min-width: 1023px) {
    max-width: 1280px;
    margin: auto;

    &--two-cols {
      padding-top: 64px;
      padding-bottom: 52px;
    }
  }

  @media (min-width: 1439px) {
    padding: 0 64px;
  }

  @media (min-width: 1919px) {
    max-width: 1400px;

    &--two-cols {
      padding-top: 80px;
      padding-bottom: 64px;
    }
  }

  &--front-page {
    padding: 0;

    @media (min-width: 767px) {
      padding: 32px;
    }

    @media (min-width: 1023px) {
      display: flex;
    }

    @media (min-width: 1439px) {
      padding: 64px 64px 32px;
    }
  }

  &--article {
    padding-top: 0;
    padding-bottom: 0;

    .aside {
      display: none;
    }

    @media (min-width: 1023px) {
      .aside {
        display: block;
        padding-top: 36px;
        padding-bottom: 36px;
      }
    }

    @media (min-width: 1439px) {
      padding-top: 0;
      padding-bottom: 0;

      .aside {
        padding-top: 64px;
        padding-bottom: 64px;
      }
    }

    @media (min-width: 1919px) {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}
